//---------------
//  Breakpoints
//---------------

$screen-sm: 576px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;

//---------------------
//  Spaces and layout
//---------------------

$gutter: 3rem !default;
$pagewidth: 1200px !default;

//---------------
//  Typography
//---------------

$font-family-base: Arial, sans-serif !default;
$font-family-head: Arial, sans-serif !default;
$font-family-code: Monaco, Consolas, courier, monospace !default;

$font-size-base: 1.6rem !default;

$line-height-base-dk: 1.5 !default;
$line-height-base-mb: 1.5 !default;

$font-sizes: (
  base: (
    desktop: $font-size-base,
    mobile: 1.4rem
  ),
  h1: (
    desktop: $font-size-base * 3,
    mobile: $font-size-base * 2.25
  ),
  h2: (
    desktop: $font-size-base * 2.25,
    mobile: $font-size-base * 1.75
  ),
  h3: (
    desktop: $font-size-base * 1.75,
    mobile: $font-size-base * 1.5
  ),
  h4: (
    desktop: $font-size-base * 1.5,
    mobile: $font-size-base * 1.25
  ),
  h5: (
    desktop: $font-size-base * 1.25,
    mobile: $font-size-base * 1.125
  ),
  h6: (
    desktop: $font-size-base * 1.125,
    mobile: $font-size-base
  )
) !default;

//----------
//  Colors
//----------

$cherry: #d6755e !default;
$bluesky: #90b7c0 !default;
$lemon: #dfcd7b !default;
$mint: #7ba391 !default;
$navy: #424e56 !default;
$white: #ffffff !default;
$lightgrey: #e6e6e6 !default;
$darkgrey: #3c3c3c !default;

$txt-color-base: $navy !default;
$txt-color-code: $cherry !default;

$primary: $navy !default;
$secondary: $cherry !default;

$success: $mint !default;
$danger: $cherry !default;
$warning: $lemon !default;

$colors: (
  cherry: $cherry,
  bluesky: $bluesky,
  lemon: $lemon,
  mint: $mint,
  navy: $navy,
  white: $white,
  lightgrey: $lightgrey,
  darkgrey: $darkgrey,
  primary: $primary,
  secondary: $secondary,
  success: $success,
  danger: $danger,
  warning: $warning
) !default;

//--------
//  Misc
//--------
$animdelay-base: .2s !default;
$radius: 0 !default;
