html { height: 100%; }

.documentation {
  position: relative;
  min-height: 100%;
  padding-top: 4rem;
  padding-bottom: 9rem;
}
.documentation section {
  margin: 3rem 0 6rem 0;
}
.documentation section h1.heading {
  padding: 1.5rem 0;
  margin-bottom: 6rem;
  border-bottom: 1px solid rgba(66, 78, 86, 0.5);
  color: #424e56;
}
.documentation section h1.heading + * {
  margin-top: 0;
}
.documentation section h1.heading + p {
  margin-bottom: 6rem;
}
.documentation section article .heading {
  color: #d6755e;
}

.documentation article + article {
  margin-top: 9rem;
}

.documentation article [class*=" msg-"] p,
.documentation article [class^="msg-"] p {
  margin-bottom: 0;
}

.documentation .brandbanner { padding: 8rem 0; }

@media (max-width: 576px) {
  .documentation .brandbanner { padding: 4rem 0; }
}

.documentation .brandbanner [class*="grid"] .logo {
  position: relative;
  width: 10rem;
  margin: 0 auto;
}

.documentation .logo svg {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 1;
  transform: translateY(-50%);
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .documentation .logo svg { margin-top: .5rem; }
}

@media (max-width: 576px) {
  .documentation .logo svg {
    position: relative;
    top: 0;
    transform: none;
    margin-top: 0;
  }
}

.documentation .hosted-by-gitlab {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
  z-index: 2;
}

.documentation .hosted-by-gitlab > * {
  display: block;
  filter: grayscale(1);
  transition: .2s;
}

.documentation .hosted-by-gitlab:hover > * { filter: grayscale(0); }
