//-----------
//  HELPERS
//-----------

/* stylelint-disable max-nesting-depth */
/* stylelint-disable order/order */

// Color txt and bg classes
@each $colorname, $colorvalue in $colors {
  .txt-#{$colorname} { color: $colorvalue !important; }
  .bg-#{$colorname} { background-color: $colorvalue !important; }
}

.txt-upc { text-transform: uppercase; }
.txt-dwn { text-transform: lowercase; }

// Text alignments
@each $dir in (left, right, center) {
  .txt-#{$dir} {
    text-align: #{$dir} !important;
  }
}

// Margins
@each $k, $v in ("t": top, "r": right, "b": bottom, "l": left) {
  .m#{$k}-sm {
    margin-#{$v}: $gutter / 2 !important;
  }

  .m#{$k}-md {
    margin-#{$v}: $gutter !important;
  }

  .m#{$k}-lg {
    margin-#{$v}: $gutter * 2 !important;
  }
}

// Widths
@for $i from 5 through 100 {
  .w#{$i} { width: $i * 1% !important; }
}

.hidden { display: none !important; }

// Loading state
[data-isloading] {
  &:after {
    content: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }
}

[data-isloading="true"] {
  color: transparent !important;
  pointer-events: none;
  transition: $animdelay-base;

  &:after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve'%3e%3cpath fill='#{urlized-color($secondary)}' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50'%3e%3canimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 50 50' to='360 50 50' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/svg%3e");
    display: block;
    width: $gutter * 1.5;
    height: $gutter * 1.5;
  }

  // Contextual sizes
  &[class*="btn-"] {
    &,
    &[class*="-outline-"] {
      &[class*="-sm"] {
        &:after {
          width: $gutter * .75;
          height: $gutter * .75;
        }
      }

      &,
      &[class*="-md"] {
        &:after {
          width: $gutter;
          height: $gutter;
        }
      }

      &[class*="-lg"] {
        &:after {
          width: $gutter * 1.5;
          height: $gutter * 1.5;
        }
      }
    }
  }

  // Contextual colors
  @each $colorname, $colorvalue in $colors {
    &[class*="-#{$colorname}"]:after {
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve'%3e%3cpath fill='#{urlized-color($white)}' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50'%3e%3canimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 50 50' to='360 50 50' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/svg%3e");
    }

    &[class*="-white"]:after,
    &[class*="-lightgrey"]:after {
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve'%3e%3cpath fill='#{urlized-color($secondary)}' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50'%3e%3canimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 50 50' to='360 50 50' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/svg%3e");
    }

    // Outlines
    &[class*="-outline-"] {
      &[class*="-#{$colorname}"]:after {
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve'%3e%3cpath fill='#{urlized-color($colorvalue)}' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50'%3e%3canimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 50 50' to='360 50 50' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/svg%3e");
      }
    }
  }
}
