//--------------
//  TYPOGRAPHY
//--------------

/* stylelint-disable selector-list-comma-newline-after */
/* stylelint-disable order/order */

html {
  font-size: 62.5%;
  font-size: calc(1em * .625); /* IE9-IE11 math bugfix */
}

body {
  @include font-size(base);
  font-family: $font-family-base;
  font-weight: normal;
  color: $txt-color-base;
  line-height: $line-height-base-mb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: $screen-md) {
  body {
    line-height: $line-height-base-dk;
  }
}

p, ul, ol, dl, pre, th, td, label, textarea, caption, figure {
  margin-top: .5em;
  margin-bottom: 0;
  line-height: $line-height-base-mb;
}

@media (min-width: $screen-md) {
  p, ul, ol, dl, pre, th, td, label, textarea, caption, figure {
    line-height: $line-height-base-dk;
  }
}

a { color: $txt-color-base; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
  margin-top: .75em;
  margin-bottom: 0;
}

p, ul, ol, dl, pre, th, td, label, textarea, caption, figure,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  &:first-child {
    margin-top: 0;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
[class*="h1-"], [class*="h2-"], [class*="h3-"], [class*="h4-"],
[class*="h5-"], [class*="h6-"] {
  font-family: $font-family-head;
}

h1, .h1, [class*="h1-"] {
  @include font-size(h1);
  line-height: 1.2;
}

h2, .h2, [class*="h2-"] {
  @include font-size(h2);
  line-height: 1.25;
}

h3, .h3, [class*="h3-"] {
  @include font-size(h3);
  line-height: 1.4;
}

h4, .h4, [class*="h4-"] {
  @include font-size(h4);
  line-height: 1.25;
}

h5, .h5, [class*="h5-"] {
  @include font-size(h5);
  line-height: 1.4;
}

h6, .h6, [class*="h6-"] {
  @include font-size(h6);
  line-height: 1.5;
}

.h1-block,
.h2-block,
.h3-block,
.h4-block,
.h5-block,
.h6-block {
  text-transform: uppercase;
  letter-spacing: .02em;

  > a {
    text-decoration: none;
    color: inherit;
  }
}

small, .small { font-size: .85em; }

strong, .strong { font-weight: bold; }

abbr[title] {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted $txt-color-base;
  cursor: help;
  transition: .25s;

  &:hover { color: $txt-color-base; }
}

pre, code {
  white-space: pre-line;
  white-space: pre-wrap;
  font-family: $font-family-code;
  font-size: 1em;
  line-height: normal;
  max-width: 100%;
  background: none;
  color: $txt-color-code;
}

pre > code {
  display: inline-block;
  font-size: 1em;
  padding: 0;
  margin: .2em 0;
  background-color: transparent;
  border-radius: 0;
}

img, table, td, blockquote, code, pre, textarea, input, video, svg {
  max-width: 100%;
}

img { height: auto; }

ul, ol { padding-left: $gutter * 1.25; }
