//------------
//  MESSAGES
//------------

[class*=" msg-"],
[class^="msg-"] {
  display: block;
  position: relative;
  color: $white;
  padding: $gutter / 3;
  margin: ($gutter / 2) 0;
  border-radius: $radius;

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }

  a {
    color: inherit;
    border-bottom: 1px solid rgba($white, .3);
    transition: $animdelay-base;
    text-decoration: none;

    &:hover,
    &:focus {
      border-bottom-color: rgba($white, 1);
    }
  }

  [data-dismiss] {
    position: absolute;
    right: $gutter / 3;
    top: 50%;
    z-index: 1;
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    transform: translateY(-50%);
    border: none;
    font-size: 1.25em;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: $animdelay-base;
  }
}

@each $colorname, $colorvalue in (success: $success, warning: $warning, danger: $danger) {
  .msg-#{$colorname} {
    background-color: $colorvalue;

    [data-dismiss] {
      color: $colorvalue;
      background-color: darken($colorvalue, 10%);

      &:hover,
      &:focus {
        background-color: darken($colorvalue, 15%);
      }
    }
  }
}

.msg-replacement {
  padding: $gutter;
  background-color: $lightgrey;
  color: $txt-color-base;
  text-align: center;
  font-size: .85em;
}
