//----------
//  MODALS
//----------

body {
  &:after { content: none; }

  &.modal-open {
    overflow: hidden;

    &:after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1100;
    }
  }

  &.modal-open {
    &:after { background-color: rgba($txt-color-base, .9); }

    .modal.open {
      top: 50vh;
      transition: 1s;
    }
  }
}

.modal {
  display: block;
  width: 50%;
  height: auto;
  position: absolute;
  top: -100vh;
  left: 50vw;
  z-index: 1150;
  transform: translate(-50%, -50%);
  background-color: $white;
  box-shadow: 0 1px 3px 1px rgba($txt-color-base, .25);
  color: $txt-color-base;
  border-radius: $radius;
  overflow: hidden;
  transition: 1.5s;

  @media (max-width: ($screen-sm - 1)) {
    width: calc(100% - (#{$gutter} * 2));
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    position: relative;
    padding: ($gutter / 2) $gutter;
    border-top: 1px solid rgba($txt-color-base, .125);

    &:first-child { border: none; }
  }


  .modal-header {
    display: block;
    position: relative;
    padding-right: calc(#{$gutter} + 3.5rem);

    > [data-toggle] {
      position: absolute;
      right: $gutter;
      top: 50%;
      z-index: 1;
      display: block;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      transform: translateY(-50%);
      border: none;
      font-size: 1.25em;
      text-align: center;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
      transition: $animdelay-base;
      color: $white;
      background-color: rgba($txt-color-base, .125);

      &:hover,
      &:focus {
        background-color: rgba($txt-color-base, .25);
      }
    }
  }

  .modal-body { padding: ($gutter * 1.5) $gutter; }

  // .modal-footer {
  //   text-align: right;
  //
  //   * + * { margin-left: $gutter * .9; }
  // }
}
