//--------------
//  NAVIGATION
//--------------

/* stylelint-disable max-nesting-depth */
/* stylelint-disable order/order */

%navmenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;

  > * {
    flex: 1 1 auto;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;

    + * {
      margin-left: -1px;
      margin-top: 0;
    }
  }

  .nav-item {
    @include font-size(base);
    display: block;
    position: relative;
    line-height: 1;
    text-decoration: none;
    margin: 0;
    padding: 1.1rem 1.25rem;
    min-height: 4rem;
    transition: $animdelay-base;
    cursor: pointer;
  }

  .dropdown .nav-item { padding-right: calc(1.25rem + 2.2rem); }
}

// Default and directions
[class*="nav-"] {
  &,
  &[class*="-outline-"] {
    display: block;

    .nav-menu {
      @extend %navmenu;

      > * {
        &:first-child > .nav-item {
          border-top-left-radius: $radius;
          border-bottom-left-radius: $radius;
          overflow: hidden;
        }

        &:last-child > .nav-item {
          border-top-right-radius: $radius;
          border-bottom-right-radius: $radius;
          overflow: hidden;
        }
      }
    }

    &[class*="-left"] .nav-menu { justify-content: flex-start; }

    &[class*="-right"] .nav-menu { justify-content: flex-end; }

    &[class*="-center"] .nav-menu { justify-content: center; }

    &[class*="-left"],
    &[class*="-right"],
    &[class*="-center"] {
      .nav-menu > * { flex: 0 0 auto; }
    }

    // Vertical variant
    &[class*="-vertical"] {
      height: auto;

      .nav-menu {
        flex-direction: column;
        height: auto;

        > * {
          flex: 0 0 auto;

          + * {
            margin-left: 0;
            margin-top: -1px;
          }

          &:first-child > .nav-item {
            border-bottom-left-radius: 0;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            overflow: hidden;
          }

          &:last-child > .nav-item {
            border-top-right-radius: 0;
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
            overflow: hidden;
          }
        }
      }

      &[class*="-left"] .nav-menu { text-align: left; }

      &[class*="-right"] .nav-menu { text-align: right; }

      &[class*="-center"] .nav-menu { text-align: center; }
    }

    // Tab variant
    &[class*="-tabs-"] {
      .nav-menu > * {
        &:first-child > .nav-item,
        &:last-child > .nav-item { border-radius: 0; }
      }

      &[class*="-left"],
      &[class*="-right"],
      &[class*="-center"] {
        .nav-menu > * { flex: 0 0 auto; }
      }

      &[class*="-left"],
      &[class*="-center"] {
        .nav-menu:after {
          content: "";
          display: block;
          flex: 1 1 auto;
          height: 1px;
        }
      }

      &[class*="-right"],
      &[class*="-center"] {
        .nav-menu:before {
          content: "";
          display: block;
          flex: 1 1 auto;
          height: 1px;
        }
      }
    }
  }
}

// Colors
[class*="nav-"] {
  @each $colorname, $colorvalue in $colors {
    &[class*="-#{$colorname}"] .nav-menu {
      @extend %navmenu;

      .nav-item {
        background-color: $colorvalue;
        border: 1px solid $colorvalue;
        color: $white;

        &:active,
        &:hover,
        &.active {
          background-color: darken($colorvalue, 10%);
          border-color: darken($colorvalue, 10%);
        }

        // Disabled state
        &.disabled,
        &.disabled:active,
        &.disabled:hover,
        &.disabled.active,
        &:disabled,
        &:disabled:active,
        &:disabled:hover,
        &:disabled.active {
          cursor: not-allowed;
          background-color: $colorvalue;
          border-color: $colorvalue;
          opacity: .5;
        }
      }

      .open .nav-item {
        background-color: darken($colorvalue, 10%);
        border-color: darken($colorvalue, 10%);
      }
    }

    &[class*="-white"],
    &[class*="-lightgrey"] {
      .nav-menu .nav-item { color: $txt-color-base; }
    }

    // Outline
    &[class*="-outline-"] {
      &[class*="-#{$colorname}"] .nav-menu {
        @extend %navmenu;

        .nav-item {
          background-color: transparent;
          border-color: $colorvalue;
          color: $colorvalue;

          &:active,
          &:hover,
          &.active {
            background-color: $colorvalue;
            color: $white;
          }

          // Disabled state
          &.disabled,
          &.disabled:active,
          &.disabled:hover,
          &.disabled.active,
          &:disabled,
          &:disabled:active,
          &:disabled:hover,
          &:disabled.active {
            cursor: not-allowed;
            background-color: transparent;
            border-color: $colorvalue;
            color: $colorvalue;
            opacity: .5;
          }
        }

        .open .nav-item {
          background-color: $colorvalue;
          color: $white;
        }
      }

      &[class*="-white"],
      &[class*="-lightgrey"] {
        .nav-menu .nav-item {
          &:active,
          &:hover,
          &.active { color: $txt-color-base; }
        }

        .open .nav-item { color: $txt-color-base; }
      }
    }

    // Tabs
    &[class*="-tabs-"] {
      &[class*="-#{$colorname}"] {
        .nav-menu {
          @extend %navmenu;
          align-items: flex-end;

          .nav-item {
            position: relative;
            background-color: transparent;
            color: $colorvalue;
            border: none;

            &:before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              z-index: 1;
              height: 1px;
              background-color: $colorvalue;
              transition: $animdelay-base;
            }

            &:active,
            &:hover,
            &.active {
              &:before { height: 3px; }
            }

            // Disabled state
            &.disabled,
            &.disabled:active,
            &.disabled:hover,
            &.disabled.active,
            &:disabled,
            &:disabled:active,
            &:disabled:hover,
            &:disabled.active {
              background-color: transparent;

              &:before { height: 1px; }
            }
          }
        }

        &[class*="-left"],
        &[class*="-center"] {
          .nav-menu:after { background-color: $colorvalue; }
        }
        &[class*="-right"],
        &[class*="-center"] {
          .nav-menu:before { background-color: $colorvalue; }
        }
      }
    }
  }
}

// Positionning
[class*="nav-"] {
  &[class*="-top"] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    margin: 0;
  }

  &[class*="-bottom"] {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    margin: 0;
  }

  &[class*="top"],
  &[class*="-bottom"] {
    .nav-menu > * {
      &:first-child > .nav-item,
      &:last-child > .nav-item { border-radius: 0; }
    }

    .dropdown .dropdown-menu { border-radius: 0; }
  }
}
