//----------
//  TABLES
//----------

table,
.table {
  display: table;
  position: relative;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: top;

  th,
  td {
    vertical-align: top;
    padding: .5rem .75rem;
    text-align: left;
  }

  th { font-weight: bold; }

  tr {
    th,
    td {
      border-right: 1px solid rgba($primary, .25);
      border-bottom: 1px solid rgba($primary, .25);

      &:first-child {
        border-left: 1px solid rgba($primary, .25);
      }
    }
  }

  // stylelint-disable max-nesting-depth
  > thead:first-child,
  > tbody:first-child,
  > caption:first-child + thead,
  > caption:first-child + tbody {
    tr:first-child {
      th,
      td {
        border-top: 1px solid rgba($primary, .25);

        &:first-child { border-top-left-radius: $radius; }
        &:last-child { border-top-right-radius: $radius; }
      }
    }
  }

  > tbody:last-child,
  > tfoot:last-child {
    tr:last-child {
      th,
      td {
        &:first-child { border-bottom-left-radius: $radius; }
        &:last-child { border-bottom-right-radius: $radius; }
      }
    }
  }
  // stylelint-enable max-nesting-depth

  &-striped {
    tbody tr:nth-child(2n+1) {
      background-color: rgba($primary, .0625);
    }
  }

  caption {
    caption-side: bottom;
    padding: ($gutter / 4) ($gutter / 4) 0 0;
    color: rgba($primary, .25);
    font-style: italic;
    font-size: .85em;
    text-align: right;
  }
}
