//--------
//  TAGS
//--------

/* stylelint-disable max-nesting-depth */
/* stylelint-disable order/order */

%tag {
  @include font-size(base);
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;
  padding: .5rem .65rem;
  vertical-align: middle;
  background-color: lighten($txt-color-base, 15%);
  color: $white;
  border: 1px solid lighten($txt-color-base, 15%);

  [data-dismiss] {
    display: inline-block;
    vertical-align: middle;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    border: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    margin-left: $gutter / 8;
    cursor: pointer;
    transition: $animdelay-base;
  }
}

[class*="tag-"] { @extend %tag; }

// Colors
[class*="tag-"] {
  @each $colorname, $colorvalue in $colors {
    &[class*="-#{$colorname}"] {
      @extend %tag;
      background-color: $colorvalue;
      border-color: $colorvalue;
      color: $white;

      [data-dismiss] {
        color: $colorvalue;
        background-color: darken($colorvalue, 10%);

        &:hover,
        &:focus {
          background-color: darken($colorvalue, 15%);
        }
      }
    }

    &[class*="-white"],
    &[class*="-lightgrey"] { color: $txt-color-base; }
  }
}

// Sizes
[class*="tag-"] {
  &[class*="-sm"] {
    font-size: $font-size-base * .75;
    line-height: 1;
    padding: .3rem .5rem;
    border-radius: $radius;
  }

  &,
  &[class*="-md"] {
    @include font-size(base);
    line-height: 1;
    padding: .5rem .65rem;
    border-radius: $radius;

    [data-dismiss] { margin-top: -.15rem; }
  }

  &[class*="-lg"] {
    @include font-size(h6);
    line-height: 1;
    padding: .65rem .8rem;
    border-radius: $radius;

    [data-dismiss] { margin-top: -.15rem; }
  }
}
