//------------
//  FLEXGRID
//------------

// A simple grid based on CSS Flexbox module

/* stylelint-disable max-nesting-depth */

.flexgrid {
  display: block;

  @media (min-width: $screen-sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > * {
      flex: 1 1 0%;
      box-sizing: border-box;
      min-width: 0;
      min-height: 0;
    }
  }
}

[class*=" flexgrid-"],
[class^="flexgrid-"] {
  display: block;

  @media (min-width: $screen-sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0;
    }
  }
}

// Children management (spaces and widths)
@media (min-width: $screen-sm) {
  .flexgrid {
    &.has-gutter > * {
      margin-left: calc(#{$gutter} - .01px);

      &:first-child { margin-left: 0; }
    }

    @for $n from 1 through 12 { // stylelint-disable-line order/order
      > [class*="#{$n}x"] { flex-grow: $n; }
    }
  }

  @for $i from 2 through 12 { // stylelint-disable-line order/order
    [class*="flexgrid-#{$i}"] {
      > * { width: calc(100% / #{$i} - .01px); }

      &.has-gutter {
        margin-left: -$gutter / 2;
        margin-right: -$gutter / 2;
        margin-top: -$gutter;
      }
      &.has-gutter > * {
        width: calc(100% / #{$i} - #{$gutter} - .01px);
        margin-left: $gutter / 2;
        margin-right: $gutter / 2;
        margin-top: $gutter;
      }

      @for $n from 1 through 12 { // stylelint-disable-line order/order
        > [class*="#{$n}x"] { width: calc(100% / #{$i} * #{$n} - .01px); }

        &.has-gutter > [class*="#{$n}x"] { width: calc(100% / #{$i} * #{$n} - #{$gutter} - .01px); }
      }
    }
  }
}

// Helper utilities
.push { margin-left: auto !important; }
.pull { margin-right: auto !important; }

.first { order: -1; }
.last { order: 1; }

// Responsive small > medium breakpoint (multiline)
@media (min-width: $screen-sm) and (max-width: ($screen-md - 1)) {
  @for $i from 1 through 6 {
    [class*="flexgrid-"][class*="-sm-#{$i}"] {
      & > * { width: calc(100% / #{$i} - .01px); }

      &.has-gutter > * {
        width: calc(100% / #{$i} - #{$gutter} - .01px);
      }

      @for $n from 1 through 12 { // stylelint-disable-line order/order
        > [class*="#{$n}x"] { width: calc(100% / #{$i} * #{$n} - .01px); }

        &.has-gutter > [class*="#{$n}x"] {
          width: calc(100% / #{$i} * #{$n} - #{$gutter} - .01px);
        }
      }
    }
  }
}

// Form grid
form,
.form {
  @media (min-width: $screen-sm) {
    .flexgrid.has-gutter > [class*="field"],
    .flexgrid.has-gutter > [class*="form-group"] {
      margin-top: 0;
    }

    @for $i from 2 through 12 { // stylelint-disable-line order/order
      fieldset > [class*="flexgrid-#{$i}"],
      .fieldset > [class*="flexgrid-#{$i}"],
      [class*="form-group"] ~ [class*="flexgrid-#{$i}"],
      [class*="field"] ~ [class*="flexgrid-#{$i}"] {
        &.has-gutter {
          margin-top: -$gutter;

          > [class*="form-group"],
          > [class*="field"] { margin-top: $gutter; }
        }
      }
    }
  }

  // Responsive small > medium breakpoint (multiline)
  @media (min-width: $screen-sm) and (max-width: ($screen-md - 1)) {
    @for $i from 1 through 6 {
      [class*="flexgrid-"][class*="-sm-#{$i}"] {
        &.has-gutter {
          margin-top: -$gutter;

          > * { margin-top: $gutter; }
        }
      }
    }
  }
}

// Disabled grid rules (< small)
@media (max-width: ($screen-sm - 1)) {
  .has-gutter > * {
    display: block;
    margin-top: calc(#{$gutter} - .01px);

    &:first-child { margin-top: 0; }
  }
}
