//--------
//  GRID
//--------

// A simple grid based on CSS Grid module, not supported on IE and Edge < 16

/* stylelint-disable order/order */

.grid {
  display: block;

  @media (min-width: $screen-sm) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-column: 1fr;

    &.has-gutter { grid-column-gap: $gutter; }
  }
}

[class*=" grid-"],
[class^="grid-"] {
  display: block;

  @media (min-width: $screen-sm) {
    display: grid;
    grid-auto-flow: row;

    &.has-gutter { grid-gap: $gutter; }
  }
}

// Children widths management
@media (min-width: $screen-sm) {
  @for $i from 2 through 12 {
    [class*="grid-#{$i}"] {
      grid-template-columns: repeat(#{$i}, 1fr);
    }

    [class*="#{$i}x"] {
      grid-column: auto / span #{$i};
    }

    [class*="#{$i}y"] {
      grid-row: auto / span #{$i};
    }
  }

}

// Helper utilities
.offset { visibility: hidden; }

.first { order: -1; }
.last { order: 1; }

// Responsive small > medium breakpoint
@media (min-width: $screen-sm) and (max-width: ($screen-md - 1)) {
  @for $i from 1 through 6 {
    [class*="grid-"][class*="-sm-#{$i}"] {
      grid-template-columns: repeat(#{$i}, 1fr);
    }

    @for $n from 1 through 12 {
      [class*="#{$n}x"] {
        &[class*="-sm-#{$i}"] {
          grid-column: auto / span #{$i};
        }
      }
    }
  }
}

// Form grid
form,
.form {
  @media (min-width: $screen-sm) {
    [class*="grid"].has-gutter > [class*="field"],
    [class*="grid"].has-gutter > [class*="form-group"] {
      margin-top: 0;
    }
  }
}
